openapi: 3.0.1
info:
  contact:
    email: translator@broadinstitute.org
    name: Molecular Data Provider
    x-role: responsible organization
  description: TRAPI API for Gene-List Network Enrichment Analysis
  license:
    name: MIT License
    url: https://github.com/broadinstitute/molecular-data-provider/blob/master/LICENSE
  termsOfService: https://github.com/broadinstitute/molecular-data-provider/blob/master/terms_of_service.md
  title: Gene-List Network Enrichment Analysis
  version: 1.4.0.0
  x-translator:
    component: KP
    team:
    - Molecular Data Provider
    biolink-version: 3.4.3
    infores: infores:molepro
    externalDocs:
      description: The values for component and team are restricted according to this
        external JSON schema. See schema and examples at url
      url: https://github.com/NCATSTranslator/translator_extensions/blob/\ production/x-translator/
  x-trapi:
    version: 1.4.0
    asyncquery: true
    operations:
    - lookup
    - enrich_results
    batch_size_limit: 2500
    test_data_location: https://github.com/broadinstitute/molecular-data-provider/blob/master/test/data/GeLiNEA-test-data.json
    externalDocs:
      description: The values for version are restricted according to the regex in
        this external JSON schema. See schema and examples at url
      url: https://github.com/NCATSTranslator/translator_extensions/blob/\ production/x-trapi/
externalDocs:
  description: Documentation for the NCATS Biomedical Translator Reasoners web services
  url: https://github.com/NCATSTranslator/ReasonerAPI
servers:
- description: TRAPI development service for GeLiNEA
  url: https://translator.broadinstitute.org/gelinea-trapi/v1.4
  x-maturity: development
tags:
- description: "Retrieve the meta knowledge graph representation of this TRAPI web\
    \ service. KPs MUST provide all subject category - predicate - object category\
    \ triplets that are supported by the service, NOT including all implied ancestor\
    \ relationships. ARAs SHOULD provide the union of all meta knowledge graphs of\
    \ all the KPs that they can consult."
  name: meta_knowledge_graph
- description: Initiate a query and wait to receive the response
  name: query
- description: Initiate a query with a callback to receive the response
  name: asyncquery
- description: Retrieve the current status of a previously submitted asyncquery given
    its job_id
  name: asyncquery_status
- description: Required for SmartAPI validation of x-translator
  name: translator
- description: Required for SmartAPI validation of x-trapi
  name: trapi
paths:
  /asyncquery:
    post:
      description: ""
      operationId: asyncquery_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncQuery'
        description: Query information to be submitted
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncQueryResponse'
          description: The query is accepted for processing and the Response will
            be sent to the callback url when complete.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: Bad request. The request is invalid according to this OpenAPI
            schema OR a specific identifier is believed to be invalid somehow (not
            just unrecognized).
        "413":
          content:
            application/json:
              schema:
                type: string
          description: Payload too large. Indicates that batch size was over the limit
            specified in x-trapi.
        "429":
          content:
            application/json:
              schema:
                type: string
          description: Too many requests. Indicates that the client issued requests
            that exceed the rate limit specified in x-trapi.
        "500":
          content:
            application/json:
              schema:
                type: string
          description: Internal server error.
        "501":
          content:
            application/json:
              schema:
                type: string
          description: Not implemented.
      summary: Initiate a query with a callback to receive the response
      tags:
      - asyncquery
      x-openapi-router-controller: openapi_server.controllers.asyncquery_controller
  /asyncquery_status/{job_id}:
    get:
      operationId: asyncquery_status
      parameters:
      - description: Identifier of the job for status request
        example: rXEOAosN3L
        explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncQueryStatusResponse'
          description: Returns the status and current logs of a previously submitted
            asyncquery.
        "404":
          description: job_id not found
        "501":
          content:
            application/json:
              schema:
                type: string
          description: "Return code 501 indicates that this endpoint has not been\
            \ implemented at this site. Sites that implement /asyncquery MUST implement\
            \ /asyncquery_status/{job_id}, but those that do not implement /asyncquery\
            \ SHOULD NOT implement /asyncquery_status."
      summary: Retrieve the current status of a previously submitted asyncquery given
        its job_id
      tags:
      - asyncquery_status
      x-openapi-router-controller: openapi_server.controllers.asyncquery_status_controller
  /meta_knowledge_graph:
    get:
      operationId: meta_knowledge_graph_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaKnowledgeGraph'
          description: Returns meta knowledge graph representation of this TRAPI web
            service.
      summary: Meta knowledge graph representation of this TRAPI web service.
      tags:
      - meta_knowledge_graph
      x-openapi-router-controller: openapi_server.controllers.meta_knowledge_graph_controller
  /query:
    post:
      description: ""
      operationId: query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
        description: Query information to be submitted
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK. There may or may not be results. Note that some of the
            provided identifiers may not have been recognized.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: Bad request. The request is invalid according to this OpenAPI
            schema OR a specific identifier is believed to be invalid somehow (not
            just unrecognized).
        "413":
          content:
            application/json:
              schema:
                type: string
          description: Payload too large. Indicates that batch size was over the limit
            specified in x-trapi.
        "429":
          content:
            application/json:
              schema:
                type: string
          description: Too many requests. Indicates that the client issued requests
            that exceed the rate limit specified in x-trapi.
        "500":
          content:
            application/json:
              schema:
                type: string
          description: Internal server error.
        "501":
          content:
            application/json:
              schema:
                type: string
          description: Not implemented.
      summary: Initiate a query and wait to receive a Response
      tags:
      - query
      x-openapi-router-controller: openapi_server.controllers.query_controller
components:
  schemas:
    Query:
      additionalProperties: true
      description: "The Query class is used to package a user request for information.\
        \ A Query object consists of a required Message object with optional additional\
        \ properties. Additional properties are intended to convey implementation-specific\
        \ or query-independent parameters. For example, an additional property specifying\
        \ a log level could allow a user to override the default log level in order\
        \ to receive more fine-grained log information when debugging an issue."
      example:
        message:
          knowledge_graph:
            edges: {}
            nodes:
              NCBIGene:23279:
                categories:
                - biolink:Gene
              NCBIGene:7175:
                categories:
                - biolink:Gene
              NCBIGene:55706:
                categories:
                - biolink:Gene
              NCBIGene:5315:
                categories:
                - biolink:Gene
              NCBIGene:5566:
                categories:
                - biolink:Gene
              NCBIGene:2023:
                categories:
                - biolink:Gene
              NCBIGene:79023:
                categories:
                - biolink:Gene
              NCBIGene:81929:
                categories:
                - biolink:Gene
              NCBIGene:8086:
                categories:
                - biolink:Gene
        workflow:
        - id: enrich_results
          parameters:
            pvalue_threshold: 0.001
      properties:
        message:
          $ref: '#/components/schemas/Message'
        log_level:
          $ref: '#/components/schemas/Query_log_level'
        workflow:
          $ref: '#/components/schemas/Query_workflow'
        submitter:
          description: Any string for self-identifying the submitter of a query. The
            purpose of this optional field is to aid in the tracking of the source
            of queries for development and issue resolution.
          nullable: true
          type: string
      required:
      - message
      title: Query
      type: object
      x-body-name: request_body
    AsyncQuery:
      additionalProperties: true
      description: The AsyncQuery class is effectively the same as the Query class
        but it requires a callback property.
      properties:
        callback:
          description: "Upon completion, this server will send a POST request to the\
            \ callback URL with `Content-Type: application/json` header and request\
            \ body containing a JSON-encoded `Response` object. The server MAY POST\
            \ `Response` objects before work is fully complete to provide interim\
            \ results with a Response.status value of 'Running'. If a POST operation\
            \ to the callback URL does not succeed, the server SHOULD retry the POST\
            \ at least once."
          format: uri
          pattern: ^https?://
          type: string
        message:
          $ref: '#/components/schemas/Message'
        log_level:
          $ref: '#/components/schemas/Query_log_level'
        workflow:
          $ref: '#/components/schemas/Query_workflow'
        submitter:
          description: Any string for self-identifying the submitter of a query. The
            purpose of this optional field is to aid in the tracking of the source
            of queries for development and issue resolution.
          nullable: true
          type: string
      required:
      - callback
      - message
      title: AsyncQuery
      type: object
      x-body-name: request_body
    AsyncQueryResponse:
      additionalProperties: true
      description: The AsyncQueryResponse object contains a payload that must be returned
        from a submitted async_query.
      example:
        job_id: rXEOAosN3L
        description: Async_query has been queued
        status: Accepted
      properties:
        status:
          description: "One of a standardized set of short codes: e.g. Accepted, QueryNotTraversable,\
            \ KPsNotAvailable"
          example: Accepted
          nullable: true
          type: string
        description:
          description: A brief human-readable description of the result of the async_query
            submission.
          example: Async_query has been queued
          nullable: true
          type: string
        job_id:
          description: An identifier for the submitted job that can be used with /async_query_status
            to receive an update on the status of the job.
          example: rXEOAosN3L
          nullable: false
          type: string
      required:
      - job_id
      title: AsyncQueryResponse
      type: object
    AsyncQueryStatusResponse:
      additionalProperties: true
      description: The AsyncQueryStatusResponse object contains a payload that describes
        the current status of a previously submitted async_query.
      example:
        description: Callback URL returned 500
        logs:
        - code: code
          level: null
          message: message
          timestamp: 2020-09-03T18:13:49Z
        - code: code
          level: null
          message: message
          timestamp: 2020-09-03T18:13:49Z
        status: Running
        response_url: https://arax.ncats.io/api/arax/v1.3/response/116481
      properties:
        status:
          description: "One of a standardized set of short codes: Queued, Running,\
            \ Completed, Failed"
          example: Running
          nullable: false
          type: string
        description:
          description: A brief human-readable description of the current state or
            summary of the problem if the status is Failed.
          example: Callback URL returned 500
          nullable: false
          type: string
        logs:
          description: "A list of LogEntry items, containing errors, warnings, debugging\
            \ information, etc. List items MUST be in chronological order with earliest\
            \ first. The most recent entry should be last. Its timestamp will be compared\
            \ against the current time to see if there is still activity."
          items:
            $ref: '#/components/schemas/LogEntry'
          nullable: false
          type: array
        response_url:
          description: Optional URL that can be queried to restrieve the full TRAPI
            Response.
          example: https://arax.ncats.io/api/arax/v1.3/response/116481
          nullable: true
          type: string
      required:
      - description
      - logs
      - status
      title: AsyncQueryStatusResponse
      type: object
    Response:
      additionalProperties: true
      description: "The Response object contains the main payload when a TRAPI query\
        \ endpoint interprets and responds to the submitted query successfully (i.e.,\
        \ HTTP Status Code 200). The message property contains the knowledge of the\
        \ response (query graph, knowledge graph, and results). The status, description,\
        \ and logs properties provide additional details about the response."
      example:
        schema_version: 1.4.0
        workflow: null
        biolink_version: 3.1.2
        description: Success. 42 results found.
        message:
          knowledge_graph: null
          auxiliary_graphs:
            key:
              edges:
              - edges
              - edges
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
          results:
          - analyses:
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            node_bindings:
              key:
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
          - analyses:
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            node_bindings:
              key:
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
          query_graph: null
        logs:
        - code: code
          level: null
          message: message
          timestamp: 2020-09-03T18:13:49Z
        - code: code
          level: null
          message: message
          timestamp: 2020-09-03T18:13:49Z
        status: Success
      properties:
        message:
          $ref: '#/components/schemas/Message'
        status:
          description: "One of a standardized set of short codes, e.g. Success, QueryNotTraversable,\
            \ KPsNotAvailable"
          example: Success
          nullable: true
          type: string
        description:
          description: A brief human-readable description of the outcome
          example: Success. 42 results found.
          nullable: true
          type: string
        logs:
          description: "A list of LogEntry items, containing errors, warnings, debugging\
            \ information, etc. List items MUST be in chronological order with earliest\
            \ first."
          items:
            $ref: '#/components/schemas/LogEntry'
          nullable: true
          type: array
        workflow:
          $ref: '#/components/schemas/Response_workflow'
        schema_version:
          description: Version label of the TRAPI schema used in this document
          example: 1.4.0
          type: string
        biolink_version:
          description: Version label of the Biolink model used in this document
          example: 3.1.2
          type: string
      required:
      - message
      title: Response
      type: object
    Message:
      additionalProperties: false
      description: "The message object holds the main content of a Query or a Response\
        \ in three properties: query_graph, results, and knowledge_graph. The query_graph\
        \ property contains the query configuration, the results property contains\
        \ any answers that are returned by the service, and knowledge_graph property\
        \ contains lists of edges and nodes in the thought graph corresponding to\
        \ this message. The content of these properties is context-dependent to the\
        \ encompassing object and the TRAPI operation requested."
      example:
        knowledge_graph: null
        auxiliary_graphs:
          key:
            edges:
            - edges
            - edges
            attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
        results:
        - analyses:
          - scoring_method: scoring_method
            score: 163.233
            edge_bindings:
              key:
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
            resource_id: resource_id
            attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            support_graphs:
            - support_graphs
            - support_graphs
          - scoring_method: scoring_method
            score: 163.233
            edge_bindings:
              key:
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
            resource_id: resource_id
            attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            support_graphs:
            - support_graphs
            - support_graphs
          node_bindings:
            key:
            - query_id: null
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              id: id
            - query_id: null
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              id: id
        - analyses:
          - scoring_method: scoring_method
            score: 163.233
            edge_bindings:
              key:
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
            resource_id: resource_id
            attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            support_graphs:
            - support_graphs
            - support_graphs
          - scoring_method: scoring_method
            score: 163.233
            edge_bindings:
              key:
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
            resource_id: resource_id
            attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            support_graphs:
            - support_graphs
            - support_graphs
          node_bindings:
            key:
            - query_id: null
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              id: id
            - query_id: null
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              id: id
        query_graph: null
      properties:
        results:
          description: |-
            List of all returned Result objects for the query posed. The list SHOULD NOT be assumed to be ordered. The 'score' property,
             if present, MAY be used to infer result rankings.
          items:
            $ref: '#/components/schemas/Result'
          nullable: true
          title: results
          type: array
        query_graph:
          $ref: '#/components/schemas/Message_query_graph'
        knowledge_graph:
          $ref: '#/components/schemas/Message_knowledge_graph'
        auxiliary_graphs:
          additionalProperties:
            $ref: '#/components/schemas/AuxiliaryGraph'
          description: Dictionary of AuxiliaryGraph instances that are used by Knowledge
            Graph Edges and Result Analyses. These are referenced elsewhere by the
            dictionary key.
          nullable: true
          title: auxiliary_graphs
          type: object
      title: Message
      type: object
    LogEntry:
      additionalProperties: true
      description: "The LogEntry object contains information useful for tracing and\
        \ debugging across Translator components.  Although an individual component\
        \ (for example, an ARA or KP) may have its own logging and debugging infrastructure,\
        \ this internal information is not, in general, available to other components.\
        \ In addition to a timestamp and logging level, LogEntry includes a string\
        \ intended to be read by a human, along with one of a standardized set of\
        \ codes describing the condition of the component sending the message."
      example:
        code: code
        level: null
        message: message
        timestamp: 2020-09-03T18:13:49Z
      properties:
        timestamp:
          description: "Timestamp in ISO 8601 format, providing the LogEntry time\
            \ either in univeral coordinated time (UTC) using the 'Z' tag (e.g 2020-09-03T18:13:49Z),\
            \ or, if local time is provided, the timezone offset must be provided\
            \ (e.g. 2020-09-03T18:13:49-04:00)."
          example: 2020-09-03T18:13:49Z
          format: date-time
          nullable: false
          type: string
        level:
          $ref: '#/components/schemas/LogEntry_level'
        code:
          description: "One of a standardized set of short codes e.g. QueryNotTraversable,\
            \ KPNotAvailable, KPResponseMalformed"
          nullable: true
          type: string
        message:
          description: A human-readable log message
          nullable: false
          type: string
      required:
      - message
      - timestamp
      title: LogEntry
      type: object
    LogLevel:
      description: Logging level
      enum:
      - ERROR
      - WARNING
      - INFO
      - DEBUG
      title: LogLevel
      type: string
    Result:
      additionalProperties: true
      description: A Result object specifies the nodes and edges in the knowledge
        graph that satisfy the structure or conditions of a user-submitted query graph.
        It must contain a NodeBindings object (list of query graph node to knowledge
        graph node mappings) and a list of Analysis objects.
      example:
        analyses:
        - scoring_method: scoring_method
          score: 163.233
          edge_bindings:
            key:
            - attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              id: id
            - attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              id: id
          resource_id: resource_id
          attributes:
          - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
            attribute_source: UniProtKB
            value_type_id: EDAM:data_1187
            description: Assertion Authored By Dr. Trans L. Ator
            attribute_type_id: attribute_type_id
            attributes:
            - null
            - null
            original_attribute_name: p-value
            value: 0.000153
          - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
            attribute_source: UniProtKB
            value_type_id: EDAM:data_1187
            description: Assertion Authored By Dr. Trans L. Ator
            attribute_type_id: attribute_type_id
            attributes:
            - null
            - null
            original_attribute_name: p-value
            value: 0.000153
          support_graphs:
          - support_graphs
          - support_graphs
        - scoring_method: scoring_method
          score: 163.233
          edge_bindings:
            key:
            - attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              id: id
            - attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              id: id
          resource_id: resource_id
          attributes:
          - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
            attribute_source: UniProtKB
            value_type_id: EDAM:data_1187
            description: Assertion Authored By Dr. Trans L. Ator
            attribute_type_id: attribute_type_id
            attributes:
            - null
            - null
            original_attribute_name: p-value
            value: 0.000153
          - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
            attribute_source: UniProtKB
            value_type_id: EDAM:data_1187
            description: Assertion Authored By Dr. Trans L. Ator
            attribute_type_id: attribute_type_id
            attributes:
            - null
            - null
            original_attribute_name: p-value
            value: 0.000153
          support_graphs:
          - support_graphs
          - support_graphs
        node_bindings:
          key:
          - query_id: null
            attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            id: id
          - query_id: null
            attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            id: id
      properties:
        node_bindings:
          additionalProperties:
            items:
              $ref: '#/components/schemas/NodeBinding'
            type: array
          description: The dictionary of Input Query Graph to Result Knowledge Graph
            node bindings where the dictionary keys are the key identifiers of the
            Query Graph nodes and the associated values of those keys are instances
            of NodeBinding schema type (see below). This value is an array of NodeBindings
            since a given query node may have multiple knowledge graph Node bindings
            in the result.
          type: object
        analyses:
          description: The list of all Analysis components that contribute to the
            result. See below for Analysis components.
          items:
            $ref: '#/components/schemas/Analysis'
          type: array
      required:
      - analyses
      - node_bindings
      title: Result
      type: object
    NodeBinding:
      additionalProperties: true
      description: "An instance of NodeBinding is a single KnowledgeGraph Node mapping,\
        \ identified by the corresponding 'id' object key identifier of the Node within\
        \ the Knowledge Graph. Instances of NodeBinding may include extra annotation\
        \ in the form of additional properties. (such annotation is not yet fully\
        \ standardized). Each Node Binding must bind directly to node in the original\
        \ Query Graph."
      example:
        query_id: null
        attributes:
        - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
          attribute_source: UniProtKB
          value_type_id: EDAM:data_1187
          description: Assertion Authored By Dr. Trans L. Ator
          attribute_type_id: attribute_type_id
          attributes:
          - null
          - null
          original_attribute_name: p-value
          value: 0.000153
        - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
          attribute_source: UniProtKB
          value_type_id: EDAM:data_1187
          description: Assertion Authored By Dr. Trans L. Ator
          attribute_type_id: attribute_type_id
          attributes:
          - null
          - null
          original_attribute_name: p-value
          value: 0.000153
        id: id
      properties:
        id:
          description: "A Compact URI, consisting of a prefix and a reference separated\
            \ by a colon, such as UniProtKB:P00738. Via an external context definition,\
            \ the CURIE prefix and colon may be replaced by a URI prefix, such as\
            \ http://identifiers.org/uniprot/, to form a full URI."
          externalDocs:
            url: https://www.w3.org/TR/2010/NOTE-curie-20101216/
          title: CURIE
          type: string
        query_id:
          $ref: '#/components/schemas/NodeBinding_query_id'
        attributes:
          description: A list of attributes providing further information about the
            node binding. This is not intended for capturing node attributes and should
            only be used for properties that vary from result to result.
          items:
            $ref: '#/components/schemas/Attribute'
          nullable: true
          type: array
      required:
      - id
      title: NodeBinding
      type: object
    Analysis:
      additionalProperties: true
      description: "An analysis is a dictionary that contains information about the\
        \ result tied to a particular service. Each Analysis is generated by a single\
        \ reasoning service, and describes the outputs of analyses performed by the\
        \ reasoner on a particular Result (e.g. a result score), along with provenance\
        \ information supporting the analysis (e.g. method or data that supported\
        \ generation of the score)."
      example:
        scoring_method: scoring_method
        score: 163.233
        edge_bindings:
          key:
          - attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            id: id
          - attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            id: id
        resource_id: resource_id
        attributes:
        - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
          attribute_source: UniProtKB
          value_type_id: EDAM:data_1187
          description: Assertion Authored By Dr. Trans L. Ator
          attribute_type_id: attribute_type_id
          attributes:
          - null
          - null
          original_attribute_name: p-value
          value: 0.000153
        - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
          attribute_source: UniProtKB
          value_type_id: EDAM:data_1187
          description: Assertion Authored By Dr. Trans L. Ator
          attribute_type_id: attribute_type_id
          attributes:
          - null
          - null
          original_attribute_name: p-value
          value: 0.000153
        support_graphs:
        - support_graphs
        - support_graphs
      properties:
        resource_id:
          description: "A Compact URI, consisting of a prefix and a reference separated\
            \ by a colon, such as UniProtKB:P00738. Via an external context definition,\
            \ the CURIE prefix and colon may be replaced by a URI prefix, such as\
            \ http://identifiers.org/uniprot/, to form a full URI."
          externalDocs:
            url: https://www.w3.org/TR/2010/NOTE-curie-20101216/
          title: CURIE
          type: string
        score:
          description: A numerical score associated with this result indicating the
            relevance or confidence of this result relative to others in the returned
            set. Higher MUST be better.
          example: 163.233
          format: float
          nullable: true
          type: number
        edge_bindings:
          additionalProperties:
            items:
              $ref: '#/components/schemas/EdgeBinding'
            type: array
          description: The dictionary of input Query Graph to Knowledge Graph edge
            bindings where the dictionary keys are the key identifiers of the Query
            Graph edges and the associated values of those keys are instances of EdgeBinding
            schema type (see below). This value is an array of EdgeBindings since
            a given query edge may resolve to multiple Knowledge Graph Edges.
          type: object
        support_graphs:
          description: This is a list of references to Auxiliary Graph instances that
            supported the analysis of a Result as performed by the reasoning service.
            Each item in the list is the key of a single Auxiliary Graph.
          items:
            type: string
          nullable: true
          type: array
        scoring_method:
          description: An identifier and link to an explanation for the method used
            to generate the score
          nullable: true
          type: string
        attributes:
          description: The attributes of this particular Analysis.
          items:
            $ref: '#/components/schemas/Attribute'
          nullable: true
          type: array
      required:
      - edge_bindings
      - resource_id
      title: Analysis
      type: object
    EdgeBinding:
      additionalProperties: true
      description: "A instance of EdgeBinding is a single KnowledgeGraph Edge mapping,\
        \ identified by the corresponding 'id' object key identifier of the Edge within\
        \ the Knowledge Graph. Instances of EdgeBinding may include extra annotation\
        \ (such annotation is not yet fully standardized). Edge bindings are captured\
        \ within a specific reasoner's Analysis object because the Edges in the Knowledge\
        \ Graph that get bound to the input Query Graph may differ between reasoners."
      example:
        attributes:
        - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
          attribute_source: UniProtKB
          value_type_id: EDAM:data_1187
          description: Assertion Authored By Dr. Trans L. Ator
          attribute_type_id: attribute_type_id
          attributes:
          - null
          - null
          original_attribute_name: p-value
          value: 0.000153
        - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
          attribute_source: UniProtKB
          value_type_id: EDAM:data_1187
          description: Assertion Authored By Dr. Trans L. Ator
          attribute_type_id: attribute_type_id
          attributes:
          - null
          - null
          original_attribute_name: p-value
          value: 0.000153
        id: id
      properties:
        id:
          description: The key identifier of a specific KnowledgeGraph Edge.
          type: string
        attributes:
          description: A list of attributes providing further information about the
            edge binding. This is not intended for capturing edge attributes and should
            only be used for properties that vary from result to result.
          items:
            $ref: '#/components/schemas/Attribute'
          nullable: true
          type: array
      required:
      - id
      title: EdgeBinding
      type: object
    AuxiliaryGraph:
      additionalProperties: true
      description: "A single AuxiliaryGraph instance that is used by Knowledge Graph\
        \ Edges and Result Analyses. Edges comprising an Auxiliary Graph are a subset\
        \ of the Knowledge Graph in the message. Data creators can create an AuxiliaryGraph\
        \ to assemble a specific collections of edges from the Knowledge Graph into\
        \ a named graph that can be referenced from an Edge as evidence/explanation\
        \ supporting that Edge, or from a Result Analysis as information used to generate\
        \ a score."
      example:
        edges:
        - edges
        - edges
        attributes:
        - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
          attribute_source: UniProtKB
          value_type_id: EDAM:data_1187
          description: Assertion Authored By Dr. Trans L. Ator
          attribute_type_id: attribute_type_id
          attributes:
          - null
          - null
          original_attribute_name: p-value
          value: 0.000153
        - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
          attribute_source: UniProtKB
          value_type_id: EDAM:data_1187
          description: Assertion Authored By Dr. Trans L. Ator
          attribute_type_id: attribute_type_id
          attributes:
          - null
          - null
          original_attribute_name: p-value
          value: 0.000153
      properties:
        edges:
          description: List of edges that form the Auxiliary Graph. Each item is a
            reference to a single Knowledge Graph edge
          items:
            type: string
          minItems: 1
          nullable: false
          type: array
        attributes:
          description: Attributes of the Auxiliary Graph
          items:
            $ref: '#/components/schemas/Attribute'
          nullable: true
          type: array
      required:
      - edges
      title: AuxiliaryGraph
      type: object
    KnowledgeGraph:
      additionalProperties: true
      description: The knowledge graph associated with a set of results. The instances
        of Node and Edge defining this graph represent instances of biolink:NamedThing
        (concept nodes) and biolink:Association (relationship edges) representing
        (Attribute) annotated knowledge returned from the knowledge sources and inference
        agents wrapped by the given TRAPI implementation.
      properties:
        nodes:
          additionalProperties:
            $ref: '#/components/schemas/Node'
          description: "Dictionary of Node instances used in the KnowledgeGraph, referenced\
            \ elsewhere in the TRAPI output by the dictionary key."
          type: object
        edges:
          additionalProperties:
            $ref: '#/components/schemas/Edge'
          description: "Dictionary of Edge instances used in the KnowledgeGraph, referenced\
            \ elsewhere in the TRAPI output by the dictionary key."
          type: object
      required:
      - edges
      - nodes
      title: KnowledgeGraph
      type: object
    QueryGraph:
      additionalProperties: true
      description: "A graph representing a biomedical question. It serves as a template\
        \ for each result (answer), where each bound knowledge graph node/edge is\
        \ expected to obey the constraints of the associated query graph element."
      properties:
        nodes:
          additionalProperties:
            $ref: '#/components/schemas/QNode'
          description: The node specifications. The keys of this map are unique node
            identifiers and the corresponding values include the constraints on bound
            nodes.
          type: object
        edges:
          additionalProperties:
            $ref: '#/components/schemas/QEdge'
          description: "The edge specifications. The keys of this map are unique edge\
            \ identifiers and the corresponding values include the constraints on\
            \ bound edges, in addition to specifying the subject and object QNodes."
          type: object
      required:
      - edges
      - nodes
      title: QueryGraph
      type: object
    QNode:
      additionalProperties: true
      description: "A node in the QueryGraph used to represent an entity in a query.\
        \ If a CURIE is not specified, any nodes matching the category of the QNode\
        \ will be returned in the Results."
      properties:
        ids:
          description: CURIE identifier for this node
          example:
          - OMIM:603903
          items:
            $ref: '#/components/schemas/CURIE'
          minItems: 1
          nullable: true
          type: array
        categories:
          description: These should be Biolink Model categories and are allowed to
            be of type 'abstract' or 'mixin' (only in QGraphs!). Use of 'deprecated'
            categories should be avoided.
          items:
            $ref: '#/components/schemas/BiolinkEntity'
          minItems: 1
          nullable: true
          type: array
        is_set:
          default: false
          description: "Boolean that if set to true, indicates that this QNode MAY\
            \ have multiple KnowledgeGraph Nodes bound to it within each Result. The\
            \ nodes in a set should be considered as a set of independent nodes, rather\
            \ than a set of dependent nodes, i.e., the answer would still be valid\
            \ if the nodes in the set were instead returned individually. Multiple\
            \ QNodes may have is_set=True. If a QNode (n1) with is_set=True is connected\
            \ to a QNode (n2) with is_set=False, each n1 must be connected to n2.\
            \ If a QNode (n1) with is_set=True is connected to a QNode (n2) with is_set=True,\
            \ each n1 must be connected to at least one n2."
          type: boolean
        constraints:
          default: []
          description: "A list of constraints applied to a query node. If there are\
            \ multiple items, they must all be true (equivalent to AND)"
          items:
            $ref: '#/components/schemas/AttributeConstraint'
          type: array
      title: QNode
      type: object
    QEdge:
      additionalProperties: true
      description: "An edge in the QueryGraph used as a filter pattern specification\
        \ in a query. If the optional predicate property is not specified, it is assumed\
        \ to be a wildcard match to the target knowledge space. If specified, the\
        \ ontological inheritance hierarchy associated with the term provided is assumed,\
        \ such that edge bindings returned may be an exact match to the given QEdge\
        \ predicate term, or to a term that is a descendant of the QEdge predicate\
        \ term."
      properties:
        knowledge_type:
          description: "Indicates the type of knowledge that the client wants from\
            \ the server between the subject and object. If the value is 'lookup',\
            \ then the client wants direct lookup information from knowledge sources.\
            \ If the value is 'inferred', then the client wants the server to get\
            \ creative and connect the subject and object in more speculative and\
            \ non-direct-lookup ways. If this property is absent or null, it MUST\
            \ be assumed to mean 'lookup'. This feature is currently experimental\
            \ and may be further extended in the future."
          example: lookup
          nullable: true
          type: string
        predicates:
          description: These should be Biolink Model predicates and are allowed to
            be of type 'abstract' or 'mixin' (only in QGraphs!). Use of 'deprecated'
            predicates should be avoided.
          items:
            $ref: '#/components/schemas/BiolinkPredicate'
          minItems: 1
          nullable: true
          type: array
        subject:
          description: Corresponds to the map key identifier of the subject concept
            node anchoring the query filter pattern for the query relationship edge.
          example: https://omim.org/entry/603903
          type: string
        object:
          description: Corresponds to the map key identifier of the object concept
            node anchoring the query filter pattern for the query relationship edge.
          example: https://www.uniprot.org/uniprot/P00738
          type: string
        attribute_constraints:
          default: []
          description: "A list of attribute constraints applied to a query edge. If\
            \ there are multiple items, they must all be true (equivalent to AND)"
          items:
            $ref: '#/components/schemas/AttributeConstraint'
          type: array
        qualifier_constraints:
          default: []
          description: "A list of QualifierConstraints that provide nuance to the\
            \ QEdge. If multiple QualifierConstraints are provided, there is an OR\
            \ relationship between them. If the QEdge has multiple predicates or if\
            \ the QNodes that correspond to the subject or object of this QEdge have\
            \ multiple categories or multiple curies, then qualifier_constraints MUST\
            \ NOT be specified because these complex use cases are not supported at\
            \ this time."
          items:
            $ref: '#/components/schemas/QualifierConstraint'
          type: array
      required:
      - object
      - subject
      title: QEdge
      type: object
    Node:
      additionalProperties: false
      description: A node in the KnowledgeGraph which represents some biomedical concept.
        Nodes are identified by the keys in the KnowledgeGraph Node mapping.
      properties:
        name:
          description: Formal name of the entity
          example: Haptoglobin
          nullable: true
          title: name
          type: string
        categories:
          description: These should be Biolink Model categories and are NOT allowed
            to be of type 'abstract' or 'mixin'. Returning 'deprecated' categories
            should also be avoided.
          items:
            $ref: '#/components/schemas/BiolinkEntity'
          nullable: true
          title: categories
          type: array
        attributes:
          description: A list of attributes describing the node
          items:
            $ref: '#/components/schemas/Attribute'
          nullable: true
          title: attributes
          type: array
      title: Node
      type: object
    Attribute:
      additionalProperties: false
      description: "Generic attribute for a node or an edge that expands the key-value\
        \ pair concept by including fields for additional metadata. These fields can\
        \ be used to describe the source of the statement made in a key-value pair\
        \ of the attribute object, or describe the attribute's value itself including\
        \ its semantic type, or a url providing additional information about it. An\
        \ attribute may be further qualified with sub-attributes (for example to provide\
        \ confidence intervals on a value)."
      example:
        value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
        attribute_source: UniProtKB
        value_type_id: EDAM:data_1187
        description: Assertion Authored By Dr. Trans L. Ator
        attribute_type_id: attribute_type_id
        attributes:
        - null
        - null
        original_attribute_name: p-value
        value: 0.000153
      properties:
        attribute_type_id:
          description: "A Compact URI, consisting of a prefix and a reference separated\
            \ by a colon, such as UniProtKB:P00738. Via an external context definition,\
            \ the CURIE prefix and colon may be replaced by a URI prefix, such as\
            \ http://identifiers.org/uniprot/, to form a full URI."
          externalDocs:
            url: https://www.w3.org/TR/2010/NOTE-curie-20101216/
          title: CURIE
          type: string
        original_attribute_name:
          description: "The term used by the original source of an attribute to describe\
            \ the meaning or significance of the value it captures. This may be a\
            \ column name in a source tsv file, or a key in a source json document\
            \ for the field in the data that held the attribute's value. Capturing\
            \ this information  where possible lets us preserve what the original\
            \ source said. Note that the data type is string' but the contents of\
            \ the field could also be a CURIE of a third party ontology term."
          example: p-value
          nullable: true
          title: original_attribute_name
          type: string
        value:
          description: "Value of the attribute. May be any data type, including a\
            \ list."
          example: 0.000153
          title: value
        value_type_id:
          $ref: '#/components/schemas/Attribute_value_type_id'
        attribute_source:
          description: The source of the core assertion made by the key-value pair
            of an attribute object. Use a CURIE or namespace designator for this resource
            where possible.
          example: UniProtKB
          nullable: true
          title: attribute_source
          type: string
        value_url:
          description: Human-consumable URL linking to a web document that provides
            additional information about an  attribute's value (not the node or the
            edge fom which it hangs).
          example: https://pubmed.ncbi.nlm.nih.gov/32529952
          nullable: true
          title: value_url
          type: string
        description:
          description: Human-readable description for the attribute and its value.
          example: Assertion Authored By Dr. Trans L. Ator
          nullable: true
          title: description
          type: string
        attributes:
          description: A list of attributes providing further information about the
            parent attribute (for example to provide provenance information about
            the parent attribute).
          items:
            $ref: '#/components/schemas/Attribute'
          nullable: true
          title: attributes
          type: array
      required:
      - attribute_type_id
      - value
      title: Attribute
      type: object
    Edge:
      additionalProperties: false
      description: A specification of the semantic relationship linking two concepts
        that are expressed as nodes in the knowledge "thought" graph resulting from
        a query upon the underlying knowledge source.
      properties:
        predicate:
          $ref: '#/components/schemas/Edge_predicate'
        subject:
          $ref: '#/components/schemas/Edge_subject'
        object:
          $ref: '#/components/schemas/Edge_object'
        attributes:
          description: A list of additional attributes for this edge
          items:
            $ref: '#/components/schemas/Attribute'
          nullable: true
          title: attributes
          type: array
        qualifiers:
          description: A set of Qualifiers that act together to add nuance or detail
            to the statement expressed in an Edge.
          items:
            $ref: '#/components/schemas/Qualifier'
          nullable: true
          title: qualifiers
          type: array
        sources:
          description: "A list of RetrievalSource objects that provide information\
            \ about how a particular Information Resource served as a source from\
            \ which the knowledge expressed in an Edge, or data used to generate this\
            \ knowledge, was retrieved."
          items:
            $ref: '#/components/schemas/RetrievalSource'
          minItems: 1
          nullable: false
          title: sources
          type: array
      required:
      - object
      - predicate
      - sources
      - subject
      title: Edge
      type: object
    Qualifier:
      additionalProperties: false
      description: An additional nuance attached to an assertion
      properties:
        qualifier_type_id:
          description: "A Compact URI, consisting of a prefix and a reference separated\
            \ by a colon, such as UniProtKB:P00738. Via an external context definition,\
            \ the CURIE prefix and colon may be replaced by a URI prefix, such as\
            \ http://identifiers.org/uniprot/, to form a full URI."
          externalDocs:
            url: https://www.w3.org/TR/2010/NOTE-curie-20101216/
          title: CURIE
          type: string
        qualifier_value:
          description: "The value associated with the type of the qualifier, drawn\
            \ from a set of controlled values by the type as specified in the Biolink\
            \ model (e.g. 'expression' or 'abundance' for the qualifier type 'biolink:subject_aspect_qualifier',\
            \ etc). The enumeration of qualifier values for a given qualifier type\
            \ is generally going to be constrained by the category of edge (i.e. biolink:Association\
            \ subtype) of the (Q)Edge."
          example: expression
          nullable: false
          title: qualifier_value
          type: string
      required:
      - qualifier_type_id
      - qualifier_value
      title: Qualifier
      type: object
    QualifierConstraint:
      additionalProperties: false
      description: "Defines a query constraint based on the qualifier_types and qualifier_values\
        \ of a set of Qualifiers attached to an edge. For example, it can constrain\
        \ a \"ChemicalX - affects - ?Gene\" query to return only edges where ChemicalX\
        \ specifically affects the 'expression' of the Gene, by constraining on the\
        \ qualifier_type \"biolink:object_aspect_qualifier\" with a qualifier_value\
        \ of \"expression\"."
      properties:
        qualifier_set:
          description: "A set of Qualifiers that serves to add nuance to a query,\
            \ by constraining allowed values held by Qualifiers on queried Edges."
          items:
            $ref: '#/components/schemas/Qualifier'
          nullable: false
          title: qualifier_set
          type: array
      required:
      - qualifier_set
      title: QualifierConstraint
      type: object
    BiolinkEntity:
      description: "Compact URI (CURIE) for a Biolink class, biolink:NamedThing or\
        \ a child thereof. The CURIE must use the prefix 'biolink:' followed by the\
        \ PascalCase class name."
      example: biolink:PhenotypicFeature
      externalDocs:
        description: Biolink model entities
        url: https://biolink.github.io/biolink-model/docs/NamedThing.html
      pattern: "^biolink:[A-Z][a-zA-Z]*$"
      title: BiolinkEntity
      type: string
    BiolinkPredicate:
      description: "CURIE for a Biolink 'predicate' slot, taken from the Biolink slot\
        \ ('is_a') hierarchy rooted in biolink:related_to (snake_case). This predicate\
        \ defines the Biolink relationship between the subject and object nodes of\
        \ a biolink:Association defining a knowledge graph edge."
      example: biolink:interacts_with
      externalDocs:
        description: Biolink model predicates
        url: https://biolink.github.io/biolink-model/docs/related_to.html
      pattern: "^biolink:[a-z][a-z_]*$"
      title: BiolinkPredicate
      type: string
    CURIE:
      description: "A Compact URI, consisting of a prefix and a reference separated\
        \ by a colon, such as UniProtKB:P00738. Via an external context definition,\
        \ the CURIE prefix and colon may be replaced by a URI prefix, such as http://identifiers.org/uniprot/,\
        \ to form a full URI."
      externalDocs:
        url: https://www.w3.org/TR/2010/NOTE-curie-20101216/
      title: CURIE
      type: string
    MetaKnowledgeGraph:
      description: Knowledge-map representation of this TRAPI web service. The meta
        knowledge graph is composed of the union of most specific categories and predicates
        for each node and edge.
      example:
        nodes:
          key:
            id_prefixes:
            - CHEMBL.COMPOUND
            - INCHIKEY
            attributes:
            - attribute_source: infores:chembl
              original_attribute_names:
              - original_attribute_names
              - original_attribute_names
              constraint_name: p-value
              attribute_type_id: attribute_type_id
              constraint_use: false
            - attribute_source: infores:chembl
              original_attribute_names:
              - original_attribute_names
              - original_attribute_names
              constraint_name: p-value
              attribute_type_id: attribute_type_id
              constraint_use: false
        edges:
        - predicate: biolink:interacts_with
          knowledge_types:
          - knowledge_types
          - knowledge_types
          subject: biolink:PhenotypicFeature
          qualifiers:
          - applicable_values:
            - "[\"expression\",\"activity\",\"abundance\",\"degradation\"]"
            - "[\"expression\",\"activity\",\"abundance\",\"degradation\"]"
            qualifier_type_id: qualifier_type_id
          - applicable_values:
            - "[\"expression\",\"activity\",\"abundance\",\"degradation\"]"
            - "[\"expression\",\"activity\",\"abundance\",\"degradation\"]"
            qualifier_type_id: qualifier_type_id
          association: biolink:PhenotypicFeature
          attributes:
          - attribute_source: infores:chembl
            original_attribute_names:
            - original_attribute_names
            - original_attribute_names
            constraint_name: p-value
            attribute_type_id: attribute_type_id
            constraint_use: false
          - attribute_source: infores:chembl
            original_attribute_names:
            - original_attribute_names
            - original_attribute_names
            constraint_name: p-value
            attribute_type_id: attribute_type_id
            constraint_use: false
          object: biolink:PhenotypicFeature
        - predicate: biolink:interacts_with
          knowledge_types:
          - knowledge_types
          - knowledge_types
          subject: biolink:PhenotypicFeature
          qualifiers:
          - applicable_values:
            - "[\"expression\",\"activity\",\"abundance\",\"degradation\"]"
            - "[\"expression\",\"activity\",\"abundance\",\"degradation\"]"
            qualifier_type_id: qualifier_type_id
          - applicable_values:
            - "[\"expression\",\"activity\",\"abundance\",\"degradation\"]"
            - "[\"expression\",\"activity\",\"abundance\",\"degradation\"]"
            qualifier_type_id: qualifier_type_id
          association: biolink:PhenotypicFeature
          attributes:
          - attribute_source: infores:chembl
            original_attribute_names:
            - original_attribute_names
            - original_attribute_names
            constraint_name: p-value
            attribute_type_id: attribute_type_id
            constraint_use: false
          - attribute_source: infores:chembl
            original_attribute_names:
            - original_attribute_names
            - original_attribute_names
            constraint_name: p-value
            attribute_type_id: attribute_type_id
            constraint_use: false
          object: biolink:PhenotypicFeature
      properties:
        nodes:
          additionalProperties:
            $ref: '#/components/schemas/MetaNode'
          description: "Collection of the most specific node categories provided by\
            \ this TRAPI web service, indexed by Biolink class CURIEs. A node category\
            \ is only exposed here if there is node for which that is the most specific\
            \ category available."
          title: nodes
          type: object
        edges:
          description: List of the most specific edges/predicates provided by this
            TRAPI web service. A predicate is only exposed here if there is an edge
            for which the predicate is the most specific available.
          items:
            $ref: '#/components/schemas/MetaEdge'
          title: edges
          type: array
      required:
      - edges
      - nodes
      title: MetaKnowledgeGraph
      type: object
    MetaNode:
      additionalProperties: false
      description: Description of a node category provided by this TRAPI web service.
      example:
        id_prefixes:
        - CHEMBL.COMPOUND
        - INCHIKEY
        attributes:
        - attribute_source: infores:chembl
          original_attribute_names:
          - original_attribute_names
          - original_attribute_names
          constraint_name: p-value
          attribute_type_id: attribute_type_id
          constraint_use: false
        - attribute_source: infores:chembl
          original_attribute_names:
          - original_attribute_names
          - original_attribute_names
          constraint_name: p-value
          attribute_type_id: attribute_type_id
          constraint_use: false
      properties:
        id_prefixes:
          description: List of CURIE prefixes for the node category that this TRAPI
            web service understands and accepts on the input.
          example:
          - CHEMBL.COMPOUND
          - INCHIKEY
          items:
            type: string
[...]
